
create environment file name as .env.development.local,.env.production.local
and place following configuration data.

REACT_APP_API_KEY=YOUR_API_KEY
REACT_APP_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
REACT_APP_ENVIRONMENT=YOUR_PUBLISHING_ENVIRONMENT
REACT_APP_REGION=(OPTIONAL) Eg- eu